<div class="justify-content-center">
    <div class="row">
      <div *ngIf="this.rutaImg" class="logo flex-column flex-sm-row align-items-center">
        <img  [src]="this.rutaImg" class="img-fluid"  alt="">
        <p>Spotify</p>
      </div>
      <hr class="col-10">
    </div>
</div>
<div class="row justify-content-center">
  <div [formGroup]="this.loginForm" class="">
      <div class="form-group">
        <label for="">Correo</label>
        <input type="text" formControlName="correo">
        <div *ngIf="correo?.hasError('required') && (correo?.touched || correo?.dirty)" class="div-error">
          <p>Por favor ingrese su correo</p>
        </div>
      </div>
    <div class="form-group">
      <label for="">Contrasena</label>
      <nz-input-group nzPrefixIcon="user">
        <input type="text" formControlName="password">
      </nz-input-group>
    </div>
  </div>
</div>
