<div class="justify-content-center">
    <div class="row">
      <div *ngIf="this.rutaImg" class="logo flex-column flex-sm-row align-items-center">
        <img  [src]="this.rutaImg" class="img-fluid"  alt="">
        <p>Spotify</p>
      </div>
      <hr class="col-10">
    </div>
</div>
<p class="loginText text-center">Inicia Sesion</p>
<div class="row justify-content-center pb-5">
  <form [formGroup]="this.loginForm" class="col-12 d-flex flex-column align-items-center">
      <div class="form-group px-3 col-12 col-xs-5 col-sm-8 col-lg-5">
        <label for=""><i nz-icon nzType="user" nzTheme="outline"></i> Correo</label>
        <div class="d-flex">
          <input autofocus [ngClass]="this.correo?.invalid && (correo?.dirty || correo?.touched)?'input-error':''" type="text" placeholder="Correo" formControlName="correo">
          <i *ngIf="correo?.invalid && (correo?.touched || correo?.dirty)" nz-icon nzType="exclamation-circle" nzTheme="outline" class="mt-2 exclamation ml-3"></i>
        </div>
        <div *ngIf="correo?.hasError('required') && (correo?.touched || correo?.dirty)" class="div-error">
          <p>Por favor ingrese su correo</p>
        </div>
        <div *ngIf="correo?.hasError('email') && (correo?.touched || correo?.dirty)" class="div-error">
          <p>Siga el patron example@example.com</p>
        </div>
      </div>
    <div class="form-group px-3 col-12 col-xs-5 col-sm-8 col-lg-5">
      <label for=""><i nz-icon nzType="lock" nzTheme="outline"></i> Contrasena</label>
      <div class="d-flex">
        <input [ngClass]="this.password?.invalid && (password?.dirty || password?.touched)?'input-error':''" type="password" placeholder="Password" formControlName="password">
        <i *ngIf="password?.invalid && (password?.dirty || password?.touched)" nz-icon nzType="exclamation-circle" nzTheme="outline" class="mt-2 exclamation ml-3"></i>
      </div>
      <div *ngIf="password?.hasError('required') && (password?.touched || password?.dirty)" class="div-error">
        <p>Por favor ingrese su contrasena</p>
      </div>
      <div *ngIf="password?.hasError('pattern') && (password?.touched || password?.dirty)" class="div-error">
        <p>La contrasena debe tener minimo 8 caracteres, una Mayuscula y un caracter especial</p>
      </div>
    </div>
    <div class="text-center col-12 col-xs-5 col-sm-8 col-lg-5">
      <button (click)="signIn()">iniciar sesion</button>
    </div>
  </form>
</div>
<div class="pb-5"></div>
